* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* nav ber styles */
nav {
    display: flex;
    justify-content: space-between;
    background-color: #0070d1;
    align-items: center;
    padding: 40px 200px;
    font-size: 24px;
    box-shadow: 0px 0px 30px 0px;
    margin-bottom: 30px;
}

nav li {
    list-style: none;
    margin-left: 50px;
    align-items: center;
    color: #ffffff;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 40px;
    color: white;
}

.btn-mid-color {
    color: #0fc728;
    font-size: 50px;
}

/* button style */
.primary-button {
    cursor: pointer;
    background-color: #0fc728;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    width: 200px;
    height: 80px;
    color: #ffffff;
}

.primary-button:hover {
    background-color: #19a463;

}


/* banner styles */
.banner {
    text-align: right;
    width: 1890x;
    height: 800px;
    background-image: url('../images/banner/banner3.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-blend-mode: multiply;
    padding: 200px 100px 150px 1000px;
}

.banner-title {
    font-weight: 24px;
    font-size: 70px;
    margin-bottom: 20px;
    color: #ffffff;
}

.banner-description {
    font-size: 18px;
    padding-bottom: 30px;
    color: white;
}


/* blog-container styles */
.blog-box {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 100px 400px;


}

.blog-title {
    font-size: 50px;
}

.blog-sub-title {
    font-size: 18px;
    margin-top: 30px;
}


/* my plan in this year styles */
.plan {
    text-align: center;
    font-size: 40px;
    padding-top: 200px;
}

.plan-margin {
    margin: 10px 600px;
}

.my-plan {
    display: flex;
    gap: 100px;
    padding: 100px 500px;
    text-align: center;
}

.my-plan-title {
    font-size: 20px;
    font-weight: 40px;

}

.my-plan-sub {
    font-size: 15px;
}

.my-lost {
    margin-top: 30px;
    list-style-image: url('../images/icons/tiktik.png');
}


/* help section styles */
.help {
    padding: 0px 300px;
    width: 1140px;
    height: 300px;
    color: white;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(122, 213, 255) 0%, rgba(255, 255, 255, 0) 100%) content-box no-repeat, url('/images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;

}

.help-title {
    font-size: 40px;
    margin-bottom: 30px;
    padding-right: 400px;
    padding-top: 20px;
    margin-left: 30px;
}

.new-button {
    cursor: pointer;
    background-color: #0fc728;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    width: 200px;
    height: 80px;
    color: #ffffff;
    margin-left: 30px;
    margin-bottom: 40px;
}

.new-button:hover {
    background-color: #19a463;

}


/* footer styles */
.future {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    padding: 100px 400px;
    gap: 100px;
}

.future-info {
    color: white;
}

.future-title {
    font-size: 50px;
    margin-bottom: 20px;
}

.future-bio {
    font-size: 18px;
}

/* footer form styles */
.subscribe {
    color: white;
}

.gmail-btn {
    height: 80px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;

}

.subscribe-title {
    margin-bottom: 20px;
}